 
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :StudentEmail %><br />
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :RollNumber %><br />
    <%= f.text_field :rollnumber %>
  </p>
  
  <p>
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :ConfirmPassword %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :Phone %><br />
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :Gender %><br />
    <%= f.text_field :gender %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>