 
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Student_Email %><br />
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :Roll_Number %><br />
    <%= f.text_field :rollnumber %>
  </p>
  
  <p>
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :Confirm_Password %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :Phone %><br />
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :Gender %><br />
	<%= f.radio_button :gender, 'M' %> Male
	<%= f.radio_button :gender, 'F' %> Female
  </p>
  
  <p>
    <%= f.submit %>
  </p>