<h1>List of Students</h1>
<table>
  <tr>
	<th>Student Name</th>
	<th>Roll Number</th>
	<th>Phone</th>
	<th>Gender</th>
	<th>Email</th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
	  <td><%= student.rollnumber %></td>
	  <td><%= student.phone %></td>
	  <td><%= student.gender %></td>
	  <td><%= student.email %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to('Student Addmission', student_addmission_results_path) %> </p>
