<h1>Listing Result</h1>
<table class='table'>
  <tr>
    <th>Student Roll Number</th>
	<th>Subject</th>
	<th>Marks</th>
  </tr>
 
  <% @result.each do |result| %>
    <tr>
      <td><%= result.user.rollnumber %></td>
	  <td><%= result.sname %></td>
	  <td><%= result.marks %></td>
    </tr>
  <% end %>
</table>
<% if current_user.role == 'teacher'%>
	<p><%= link_to 'New Result', new_result_path, :class => 'btn btn-info' %></p>
	<p><%= link_to('My Home', teacher_login_results_path, :class => 'btn btn-info')  %></p>
<%elsif current_user.role == 'head_master'%>
    <p><%= link_to('My Home', headmaster_login_results_path, :class => 'btn btn-info')  %></p>
<%end%>