<h1 class="text-center"> Welcome <%= @name %></h1>
<table class='table table-bordered'>
	<tr>
		<th>Student Name</th>
		<td><%= @student.name%></td>
	</tr>
	<tr>
		<th>Roll Number</th>
		<td><%= @student.rollnumber%></td>
	</tr>
	<tr>
		<th>Email ID</th>
		<td><%= @student.email%></td>
	</tr>
	<tr>
		<th>Phone</th>
		<td><%= @student.phone%></td>
	</tr>
</table>

<table class='table'>
  <tr>
    <th>Subject</th>
	<th>Marks</th>
	<th>Result</th>
  </tr>
 
  <% @result.each do |result| %>
    <tr>
	  <td><%= result.sname %></td>
	  <td><%= result.marks %></td>
	  <td>
	  	<% if result.marks >= 70 %>
			<%= 'Distinction' %>
		<% elsif result.marks >= 60 and result.marks < 70 %>
			<%= 'First Class' %>
		<% elsif result.marks >= 50 and result.marks < 60 %>
			<%= 'Second Class' %>
		<% elsif result.marks >= 40 and result.marks < 50 %>
			<%= 'Third Class' %>
		<% else %>
			<%= 'Fail' %>
		<% end %>
	  </td>
    </tr>
  <% end %>
</table>