<h1>Listing Subjects</h1>
<table class='table'>
  <tr>
    <th>Subject Name</th>
    <th colspan="2"></th>
  </tr>
 
  <% @subject.each do |subject| %>
    <tr>
      <td><%= subject.sname %></td>
      <td><%= link_to 'Edit', edit_subject_path(subject), :class => 'btn btn-default' %></td>
	  <td><%= link_to 'Delete', subject_path(subject),
	                method: :delete,
	                data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'New Subject', new_subject_path, :class => 'btn btn-info' %></p>
<% if current_user.role == 'teacher'%>
<p><%= link_to('My Home', teacher_login_results_path, :class => 'btn btn-info')  %></p>
<%elsif current_user.role == 'head_master'%>
<p><%= link_to('My Home', headmaster_login_results_path, :class => 'btn btn-info')  %></p>
<%end%>