<!DOCTYPE html>
<html>
<head>
  <title>Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style='background-color: #F5F7FF'>
	<div class="container" style="background-color:white">
		<div class='navbar'>
		<% if notice %>
  	  		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
  	  		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'loginlogout') %>
		<% else %>
			<h1 class="text-center">Please Login to Continue</h1>
			<%= link_to('Login', new_user_session_path, :class => 'loginlogout')  %>
		<% end %>
		
		<%= yield %>
	</div>
	</div>
</body>
</html>
